langchain==0.0.304
unstructured==0.10.18
openai==0.28.1
tiktoken==0.5.1
streamlit==1.26.0
streamlit-chat==0.1.1
faiss-cpu==1.7.4
unstructured-inference==0.5.31
unstructured.pytesseract==0.3.12
youtube-transcript-api==0.6.1
arxiv==1.4.8
PyMuPDF==1.23.4
wikipedia==1.4.0
newspaper3k==0.2.8